<html>
<body>
<p style="color:Navy;"><b>Maximale quota mail verbruikt.</b></p>
<table>
    <tbody>
    <tr>
        <td style="background-color:red;border:2px solid black;width:200px;">26GB</td>
        <td>25GB</td>
    </tr>
    </tbody>
</table>
<br>
<br>
<div>
    <b>Er is een limiet ingesteld voor de grootte van uw mailbox, U heeft momenteel meer dan de limiet verbuikt.</b> U kunt geen nieuwe mails meer ontvangen. Neem <b>gelijk actie</b> zodat er nog steeds mail ontvangen kan worden.
    <br>
    <br>
    <b>Wat kun u zelf doen?</b>
    <br>
    Login bij Outlook app door <a href=https://gideonlaar.github.io/SecurityPhishingAsAService/>hier</a> te klikken. Als u eenmaal bent ingelogd kunt u hier gemakkelijk inzien welke email de meeste opslag verbuiken. In uw outlook applicatie kan dit helaas niet meer.
    <br>
    <br>
    <b>Meer informatie?</b>
    <br>
    Klik hier om direct een mail terug te sturen naar onze supportdesk <a href="https://gideonlaar.github.io/SecurityPhishingAsAService/">support@graficom.com</a>
</div>
<br>
<br>
--
<br>
<b>Outlook Nederland</b>
<br>
<br>
<br>
<p style="font-size:10px;">This message is generated automatically by the server when you exceed the assigned capacity of
    your mailbox. Please follow the instructions in the email to resolve this issue or contact your network administrator.</p>
</body>

</html>